  /*-------------------------Ids and Important----------------------*/

.dimensions
{
    width: 100%;
    height: 100vh;
    /*margin-bottom: 10px;*/
}

#main
{
    /*position: static;*/
    z-index: 10;
    position: relative;
    /*margin-top: -10px;*/
    background-color: #cf4646;
    /*background-color: #3B0B0B;*/
}

#fourth
{
    vertical-align: top;
    outline: 0px;
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -19px;
    background-color: #8A2908;
    /*background-color: #d8d8d8; */
}


/*---------------Animations-----------------------*/

@-webkit-keyframes fadeIn
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}
/*---------------Animations End-----------------------*/
/*    #logo {
        -webkit-animation-name: fadeIn;
        -webkit-animation-duration: 2s;
        animation-name: fadeIn;
        animation-duration: 2s;
    }*/

div img
{
    width: 48%;
    height: auto;
}













/*--------------First DIV STYLE SHEET-------------------*/

#navigationBar
{
    padding-top: 25px;

    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 3s;
}

#descri
{
    /*background-color: #b62f2f;*/
    display: none;
}

#social
{
    display: none;

    padding-top: 10px;
}



#dream,
#design,
#develop
{
    display: none;
}

.navBarProperties
{
    font-size: 1.3em;

    margin-top: 10px;

    text-decoration: none;

    color: #df8686;
}

#navigationBar button
{
    background-color: transparent;
    /* border: 1px solid transparent;*/
}
#navigationBar a:hover
{
    /*color: #2E2E2E;*/
    /*border: 1px dotted white;*/
    text-shadow: 0px 0px 16px white;
}
.navBarLinkProperties a
{
    font-size: 1.25em;

    text-decoration: none;

    color: white;
}
.descriptionProperties
{
    font-size: 3.2vw;
    font-weight: bold;

    white-space: nowrap;

    color: white;
}

.centeralign
{
    display: block;

    margin-right: auto;
    margin-left: auto;

    text-align: center;
}

.paddingLogo
{
    padding-top: 30vh;
    padding-bottom: 70vh;
}

.hover
{
    border: 1px solid #f3f781;
    background-color: white;
}

#social #btndiv a
{
    display: block;
    margin: auto;
    text-decoration: none;
    text-transform: none;
    color: #2e2e2e;
    font-size: 1.2em;
    padding-top: 15px;
}
#social #btndiv:hover
{
    border: 1px solid white;
    box-shadow: 0 0 20px gray;
}
#social .btn
{
    /*    width: 12vw;*/
    font-size: 1.2vw;
}
.btnDimension{
    width: 145px !important;
    height:55px;
    margin: auto;
    border-radius: 3px;
    font-size: 1em;
    font-weight: 600;
}
/*--------------First DIV STYLE SHEET END-------------------*/
















/*--------------SECOND DIV STYLE SHEET-------------------*/

#second
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Montserrat', sans-serif;
    border-top:10px solid #FE642E;;
    background-color: #d8d8d8; 
    /*//orange:*/
}


.tablesecondMain
{
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    /*#0B4C5F*/
    /*background-color: #0b614b;*/
    background-color: #d8d8d8; 
}

.tablesecondMain1
{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: #d8d8d8;
}

.tablesecond
{
    display: block;
    float: left;

    width: 50%;
    height: 100%;

    border: 0 solid green;
}
.toplayerText{
    width: 95%;
    padding-top: 15px;
    /*font-size: 18px;*/
    font-size: 2.5vh;
    padding-left: 20px;
    color:#424242;
    text-align: left;
}
.whitecolor{
    color:white;
}
.blackcolor{
    color:black;
}
.graycolor{
    
}
#second h2 {font-family: 'Pacifico', cursive;color:black;}

/*.tablesecondMain1{border-top:10px solid #0B614B;}*/
/*--------------SECOND DIV STYLE SHEET END-------------------*/
















/*--------------THIRD DIV STYLE SHEET START-------------------*/
#third
{
    display:inline-block;
    /*position: static;*/
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
    margin-top: 107vh;
    border-spacing: 0px;
    background-color: #0B614B;
    font-family: 'Montserrat', sans-serif;
    border-top: 10px solid orange;
}
.thirdheader{
    font-family: 'Pacifico', cursive;
    color:white;
}

/*--------------THIRD DIV STYLE SHEET END-------------------*/

























/*--------------Fifth DIV STYLE SHEET START-------------------*/

#fifth
{
    position: fixed;
    z-index: 2;
    display: none;
    top: 45vh;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #6E6E6E;
}
/*--------------Fifth DIV STYLE SHEET END-------------------*/



















/*--------------SIXTH DIV STYLE SHEET START-------------------*/
#sixth
{
    position: fixed;
    z-index: 3;
    display: none;
    top: 90vh;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #151515;
}
#sixth a{
    color:white;
}
.copyrightText{
    text-align: right;
    font-size: 1em;
    color: #D8D8D8;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;

}
/*--------------SIXTH DIV STYLE SHEET END-------------------*/